<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>영화추천</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" >
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<style>
    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;

    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background-color: #000000;
        color: white;
    }
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }


    #s_left{
        width: 200px;
        height: 1550px;
        background-color:white;
        float:left;
        color : #04B404;
        padding :10px;
        margin:10px;
        border-radius:20px;
    }

    #mid{
        padding :10px;
        margin: 10px;
        border-radius:20px;
        background-color:white;
        float : middle;
        width : 80%;
        height : 1550px;
        color : #04B404;
        text-align:center;
    }
</style>
</head>
<body style="background-color:#F3E2A9">

<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">역대 박스오피스 순위</a></li>
          <li class="menu-active"><a href="/menu3">장르별 추천 영화</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to 영화 추천</h1>
      <h2>장르별 추천 영화</h2>
      <a href="#portfolio" class="btn-get-started">시작하기</a>
    </div>
  </section><!-- #hero -->

</div>
</body>




<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" >
      <div class="container wow fadeInUp">

        <div class="section-header">
          <h3 style="font-size:300%"; class="section-title">다큐 추천 영화</h3>
           <h5></h5>
          <p class="section-description">2020.06.01일자 네이버영화에 수록된 영화의 네티즌 평점을 높은순으로 정렬한 순위입니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-1, .filter-2, .filter-3, .filter-4, .filter-5" class="filter-active">All</li>
              <li data-filter=".filter-1">1위~10위</li>
              <li data-filter=".filter-2">11위~20위</li>
              <li data-filter=".filter-3">21위~30위</li>
              <li data-filter=".filter-4">31위~40위</li>
              <li data-filter=".filter-5">40위~50위</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper" style="padding:60px">
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=179518" style="width:200px;height:290px;"target="_blank">
             <img src="{{ url_for('static', filename='movie/179518.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>1위</h4>
                <span>주전장</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=76667" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/76667.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>2위</h4>
                <span>울지마 톤즈</span>
              </div>
            </a>
          </div>
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=154573" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/154573.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>3위</h4>
                <span>다시 태어나도 우리</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=178434" style="width:200px;height:290px;" target="_blank">
              <img src="{{ url_for('static', filename='movie/178434.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>4위</h4>
                <span>폴란드로 간 아이들</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=54900" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/54900.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>5위</h4>
                <span>퀸 락 몬트리올</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=146534" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/146534.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>6위</h4>
                <span>자백</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=53951" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/53951.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>7위</h4>
                <span>더 코브: 슬픈 돌고래의 진실</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=70251" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/70251.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>8위</h4>
                <span>마이클 잭슨의 디스 이즈 잇</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=183132" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/183132.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>9위</h4>
                <span>교회오빠</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=84148" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/84148.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>10위</h4>
                <span>트루맛쇼</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=130013" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/130013.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>11위</h4>
                <span>님아, 그 강을 건너지 마오</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=115298" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/115298.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>12위</h4>
                <span>잉여들의 히치하이킹</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=167107" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/167107.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>13위</h4>
                <span>땐뽀걸즈</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=151106" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/151106.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>14위</h4>
                <span>슈퍼소닉</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=187051" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/187051.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>15위</h4>
                <span>브링 더 소울 : 더 무비</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=180361" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/180361.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>16위</h4>
                <span>트와이스랜드</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=160135" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/160135.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>17위</h4>
                <span>서서평, 천천히 평온하게</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=66801" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/66801.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>18위</h4>
                <span>식코</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=142304" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/142304.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>19위</h4>
                <span>뚜르: 내 생애 최고의 49일</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=64128" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/64128.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>20위</h4>
                <span>비상</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=181717" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/181717.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>21위</h4>
                <span>칠곡 가시나들</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=137358" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/137358.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>22위</h4>
                <span>트윈스터즈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=165461" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/165461.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>23위</h4>
                <span>공범자들</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=129802" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/129802.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>24위</h4>
                <span style="font-size:75%">피아니스트 세이모어의 뉴욕 소네트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=153621" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/153621.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>25위</h4>
                <span>댄서</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=164104" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/164104.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>26위</h4>
                <span>피의 연대기</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=75508" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/75508.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>27위</h4>
                <span>인사이드 잡</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=129764" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/129764.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>28위</h4>
                <span>제자, 옥한흠</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=172006" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/172006.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>29위</h4>
                <span>젝스키스 에이틴</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=140653" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/140653.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>30위</h4>
                <span>나는 고양이로소이다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=177335" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/177335.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>31위</h4>
                <span>타샤 튜더</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=91101" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/91101.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>32위</h4>
                <span>서칭 포 슈가맨</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=179694" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/179694.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>33위</h4>
                <span>인생 후르츠</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=88793" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/88793.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>34위</h4>
                <span>말하는 건축가</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=83883" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/83883.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>35위</h4>
                <span>고양이 춤</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=149511" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/149511.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>36위</h4>
                <span>빅뱅 메이드</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=173653" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/173653.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>37위</h4>
                <span>그날, 바다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=63445" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/63445.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>38위</h4>
                 <span>우리 학교</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=68934" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/68934.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>39위</h4>
                <span>우린 액션배우다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=53945" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/53945.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>40위</h4>
                <span>김정일리아</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=162173" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/162173.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>41위</h4>
                <span>노무현입니다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=162854" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/162854.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>42위</h4>
                <span>바르다가 사랑한 얼굴들</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=146488" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/146488.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>43위</h4>
                <span>태양 아래</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=128212" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/128212.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>44위</h4>
                <span>쿼바디스</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=92038" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/92038.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>45위</h4>
                <span>더 데이</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=142241" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/142241.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>46위</h4>
                <span>다음 침공은 어디?</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=185131" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/185131.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>47위</h4>
                <span>김복동</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=136890" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/136890.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>48위</h4>
                <span>에이미</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=138576" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/138576.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>49위</h4>
                <span>춘희막이</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=73496" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/73496.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>50위</h4>
                <span>서태지 심포니</span>
              </div>
            </a>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>