<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>영화추천</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" >
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<style>
    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;

    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background-color: #000000;
        color: white;
    }
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }


    #s_left{
        width: 200px;
        height: 1550px;
        background-color:white;
        float:left;
        color : #04B404;
        padding :10px;
        margin:10px;
        border-radius:20px;
    }

    #mid{
        padding :10px;
        margin: 10px;
        border-radius:20px;
        background-color:white;
        float : middle;
        width : 80%;
        height : 1550px;
        color : #04B404;
        text-align:center;
    }
</style>
</head>
<body style="background-color:#F3E2A9">

<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">역대 박스오피스 순위</a></li>
          <li class="menu-active"><a href="/menu3">장르별 추천 영화</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to 영화 추천</h1>
      <h2>장르별 추천 영화</h2>
      <a href="#portfolio" class="btn-get-started">시작하기</a>
    </div>
  </section><!-- #hero -->

</div>
</body>




<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" >
      <div class="container wow fadeInUp">

        <div class="section-header">
          <h3 style="font-size:300%"; class="section-title">판타지 추천 영화</h3>
           <h5></h5>
          <p class="section-description">2020.06.01일자 네이버영화에 수록된 영화의 네티즌 평점을 높은순으로 정렬한 순위입니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-1, .filter-2, .filter-3, .filter-4, .filter-5" class="filter-active">All</li>
              <li data-filter=".filter-1">1위~10위</li>
              <li data-filter=".filter-2">11위~20위</li>
              <li data-filter=".filter-3">21위~30위</li>
              <li data-filter=".filter-4">31위~40위</li>
              <li data-filter=".filter-5">40위~50위</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper" style="padding:60px">
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31796" style="width:200px;height:290px;"target="_blank">
             <img src="{{ url_for('static', filename='movie/31796.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>1위</h4>
                <span>반지의 제왕: 왕의 귀환</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31795" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31795.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>2위</h4>
                <span>반지의 제왕: 두 개의 탑</span>
              </div>
            </a>
          </div>
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10670" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10670.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>3위</h4>
                <span>천녀유혼</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31794" style="width:200px;height:290px;" target="_blank">
              <img src="{{ url_for('static', filename='movie/31794.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>4위</h4>
                <span>반지의 제왕: 반지 원정대</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=30688" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/30688.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>5위</h4>
                <span>해리 포터와 마법사의 돌</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10936" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10936.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>6위</h4>
                <span>가위손</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=37148" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/37148(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>7위</h4>
                <span>캐리비안의 해적 - 블랙 펄의 저주</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=11572" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/11572.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>8위</h4>
                <span>천녀유혼 3 - 도도도</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10686" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10686.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>9위</h4>
                <span>천녀유혼 2 - 인간도</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=19517" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/19517.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>10위</h4>
                <span>조 블랙의 사랑</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=43678" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/43678.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>11위</h4>
                <span>캐리비안의 해적 - 망자의 함</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=66091" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/66091.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>12위</h4>
                <span style="font-size:75%">벤자민 버튼의 시간은 거꾸로 간다</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=14397" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10016.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>13위</h4>
                <span>드라큐라</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=33930" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/33930.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>14위</h4>
                <span>해리 포터와 비밀의 방</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=14584" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/14584.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>15위</h4>
                <span>팀 버튼의 크리스마스 악몽</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=66144" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/66144.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>16위</h4>
                <span>스타더스트</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=136872" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/136872.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>17위</h4>
                <span>미녀와 야수</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39846" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/39846(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>18위</h4>
                <span>찰리와 초콜릿 공장</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=24602" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/24602(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>19위</h4>
                <span>큐브</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=52794" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/52794.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>20위</h4>
                <span>스트레인저 댄 픽션</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=35546" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/35546.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>21위</h4>
                <span>해리 포터와 아즈카반의 죄수</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=145292" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/145292.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>22위</h4>
                <span>당신, 거기 있어줄래요</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=66143" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/66143.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>23위</h4>
                <span>나니아 연대기 - 캐스피언 왕자</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=71901" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/71901.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>24위</h4>
                <span>천국의 우편배달부</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=44044" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/44044.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>25위</h4>
                <span>천년여우 여우비</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=24831" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/24831.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>26위</h4>
                <span>13층</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=18933" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/18933.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>27위</h4>
                <span>록키 호러 픽쳐 쇼</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=67366" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/67366.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>28위</h4>
                <span>스파이더위크가의 비밀</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=97816" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/97816(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>29위</h4>
                <span>호빗: 다섯 군대 전투</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=74566" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/74566.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>30위</h4>
                <span>호빗 : 스마우그의 폐허</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=62799" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/62799.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>31위</h4>
                <span style="font-size:64%">아더와 미니모이:제1탄 비밀원정대의 출정</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=129383" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/129383.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>32위</h4>
                <span style="font-size:70%">미스 페레그린과 이상한 아이들의 집</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=170859" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/170859.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>33위</h4>
                <span>오늘 밤, 로맨스 극장에서</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=68073" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/68073(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>34위</h4>
                <span>호빗 : 뜻밖의 여정</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=27564" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/27564.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>35위</h4>
                <span>존 말코비치 되기</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=94170" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/94170.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>36위</h4>
                <span>헝거게임: 캣칭 파이어</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31371" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31371.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>37위</h4>
                <span>비밀</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=76791" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/76791.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>38위</h4>
                 <span>불청객</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=29892" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/29892.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>39위</h4>
                <span>인랑</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=49336" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/49336.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>40위</h4>
                <span style="font-size:75%">판의 미로 - 오필리아와 세 개의 열쇠</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=164172" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/164172.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>41위</h4>
                <span>내안의 그놈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=92003" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/92003.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>42위</h4>
                <span>말레피센트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=43679" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/43679.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>43위</h4>
                <span>캐리비안의 해적 - 세상의 끝에서</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=115642" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/115642.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>44위</h4>
                <span>신비한 동물사전</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=28099" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/28099.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>45위</h4>
                <span>슬리피 할로우</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=151151" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/151151.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>46위</h4>
                <span>메리 포핀스 리턴즈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=51443" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/51443.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>47위</h4>
                <span>캐리비안의 해적: 낯선 조류</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=49532" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/49532.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>48위</h4>
                <span style="font-size:75%">나니아 연대기: 새벽 출정호의 항해</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=37200" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/37200.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>49위</h4>
                <span>환생</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=71422" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/71422.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>50위</h4>
                <span>더 도어</span>
              </div>
            </a>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>