<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>영화추천</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" >
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<style>
    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;

    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background-color: #000000;
        color: white;
    }
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }


    #s_left{
        width: 200px;
        height: 1550px;
        background-color:white;
        float:left;
        color : #04B404;
        padding :10px;
        margin:10px;
        border-radius:20px;
    }

    #mid{
        padding :10px;
        margin: 10px;
        border-radius:20px;
        background-color:white;
        float : middle;
        width : 80%;
        height : 1550px;
        color : #04B404;
        text-align:center;
    }
</style>
</head>
<body style="background-color:#F3E2A9">

<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">역대 박스오피스 순위</a></li>
          <li class="menu-active"><a href="/menu3">장르별 추천 영화</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to 영화 추천</h1>
      <h2>장르별 추천 영화</h2>
      <a href="#portfolio" class="btn-get-started">시작하기</a>
    </div>
  </section><!-- #hero -->

</div>
</body>




<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" >
      <div class="container wow fadeInUp">

        <div class="section-header">
          <h3 style="font-size:300%"; class="section-title">로맨스 추천 영화</h3>
           <h5></h5>
          <p class="section-description">2020.06.01일자 네이버영화에 수록된 영화의 네티즌 평점을 높은순으로 정렬한 순위입니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-1, .filter-2, .filter-3, .filter-4, .filter-5" class="filter-active">All</li>
              <li data-filter=".filter-1">1위~10위</li>
              <li data-filter=".filter-2">11위~20위</li>
              <li data-filter=".filter-3">21위~30위</li>
              <li data-filter=".filter-4">31위~40위</li>
              <li data-filter=".filter-5">40위~50위</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper" style="padding:60px">
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10102" style="width:200px;height:290px;"target="_blank">
             <img src="{{ url_for('static', filename='movie/10102.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>1위</h4>
                <span>사운드 오브 뮤직</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=35939" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/35939.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>2위</h4>
                <span>클래식</span>
              </div>
            </a>
          </div>
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=18847" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/18847.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>3위</h4>
                <span>타이타닉</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39636" style="width:200px;height:290px;" target="_blank">
              <img src="{{ url_for('static', filename='movie/39636.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>4위</h4>
                <span>지금, 만나러 갑니다</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=182348" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/182348.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>5위</h4>
                <span>로망</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=68555" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/68555.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>6위</h4>
                <span>말할 수 없는 비밀</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=76309" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/76309.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>7위</h4>
                <span>플립</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=190244" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/190244.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>8위</h4>
                <span>러브 앳</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38227" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38227.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>9위</h4>
                <span>첫 키스만 50번째</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10173" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10173.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>10위</h4>
                <span>사랑과 영혼</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=92075" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/92075.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>11위</h4>
                <span>어바웃 타임</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=13957" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/13957.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>12위</h4>
                <span>사랑의 블랙홀</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=82219" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/82219.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>13위</h4>
                <span>오직 그대만</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38444" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38444.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>14위</h4>
                <span>이터널 선샤인</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17997" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17997.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>15위</h4>
                <span>첨밀밀</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17685" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17685.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>16위</h4>
                <span>러브 어페어</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=24830" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/24830.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>17위</h4>
                <span>노팅 힐</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39654" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/39654.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>18위</h4>
                <span>너는 내 운명</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31475" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31475.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>19위</h4>
                <span>파이란</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=11307" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/11307.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>20위</h4>
                <span>보디가드</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39440" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/39440.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>21위</h4>
                <span>이프 온리</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=46985" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/46985.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>22위</h4>
                <span>그해 여름</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17260" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17260(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>23위</h4>
                <span>당신이 잠든 사이에</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38899" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38899.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>24위</h4>
                <span>노트북</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=71760" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/71760.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>25위</h4>
                <span>청설</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=27899" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/27899.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>26위</h4>
                <span>성원</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=144083" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/144083.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>27위</h4>
                <span>내 이야기!!</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=88669" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/88669.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>28위</h4>
                <span>그 시절, 우리가 좋아했던 소녀</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=29756" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/29756.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>29위</h4>
                <span>동감</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=30796" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/30796.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>30위</h4>
                <span>번지 점프를 하다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=68563" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/68563.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>31위</h4>
                <span>마법에 걸린 사랑</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10751" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10751(2).jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>32위</h4>
                <span>블루 라군</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=33870" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/33870.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>33위</h4>
                <span>오버 더 레인보우</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=34362" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/34362.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>34위</h4>
                <span>연애소설</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10242" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10242.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>35위</h4>
                <span>더티 댄싱</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31118" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31118.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>36위</h4>
                <span>선물</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=182387" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/182387.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>37위</h4>
                <span>윤희에게</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=36843" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/36843.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>38위</h4>
                 <span>러브 액츄얼리</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=64080" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/64080.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>39위</h4>
                <span>다만, 널 사랑하고 있어</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=36957" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/36957.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>40위</h4>
                <span>...ing</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=157178" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/157178.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>41위</h4>
                <span>나는 내일, 어제의 너와 만난다</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38274" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38274.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>42위</h4>
                <span>더티 댄싱 - 하바나 나이트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17773" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17773.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>43위</h4>
                <span>비포 선라이즈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=65769" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/65769.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>44위</h4>
                <span>그 여자 작사 그 남자 작곡</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=61095" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/61095.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>45위</h4>
                <span>블랙북</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=142691" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/142691.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>46위</h4>
                <span>나의 소녀시대</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=143416" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/143416.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>47위</h4>
                <span>미드나잇 선</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17450" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17450.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>48위</h4>
                <span>라스베가스를 떠나며</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38662" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38662.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>49위</h4>
                <span>내 머리 속의 지우개</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=159311" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/159311.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>50위</h4>
                <span>소공녀</span>
              </div>
            </a>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>