<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>영화추천</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon" >
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{{ url_for('static', filename='lib/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<style>
    ul {
        list-style-type: none;
        margin: 10px;
        padding: 0;

    }
    li a {
        display: block;
        color: #000;
        padding: 8px 16px;
        text-decoration: none;
    }
    li a.active {
        background-color: #000000;
        color: white;
    }
    li a:hover:not(.active) {
        background-color: #555;
        color: white;
    }


    #s_left{
        width: 200px;
        height: 1550px;
        background-color:white;
        float:left;
        color : #04B404;
        padding :10px;
        margin:10px;
        border-radius:20px;
    }

    #mid{
        padding :10px;
        margin: 10px;
        border-radius:20px;
        background-color:white;
        float : middle;
        width : 80%;
        height : 1550px;
        color : #04B404;
        text-align:center;
    }
</style>
</head>
<body style="background-color:#F3E2A9">

<!--==========================
  Header
  ============================-->
  <header id="header">
    <div class="container">
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/menu">역대 박스오피스 순위</a></li>
          <li class="menu-active"><a href="/menu3">장르별 추천 영화</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->


  <!--==========================
    Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <h1>Welcome to 영화 추천</h1>
      <h2>장르별 추천 영화</h2>
      <a href="#portfolio" class="btn-get-started">시작하기</a>
    </div>
  </section><!-- #hero -->

</div>
</body>




<!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio" >
      <div class="container wow fadeInUp">

        <div class="section-header">
          <h3 style="font-size:300%"; class="section-title">SF 추천 영화</h3>
           <h5></h5>
          <p class="section-description">2020.06.01일자 네이버영화에 수록된 영화의 네티즌 평점을 높은순으로 정렬한 순위입니다.</p>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <ul id="portfolio-flters">
              <li data-filter=".filter-1, .filter-2, .filter-3, .filter-4, .filter-5" class="filter-active">All</li>
              <li data-filter=".filter-1">1위~10위</li>
              <li data-filter=".filter-2">11위~20위</li>
              <li data-filter=".filter-3">21위~30위</li>
              <li data-filter=".filter-4">31위~40위</li>
              <li data-filter=".filter-5">40위~50위</li>
            </ul>
          </div>
        </div>

        <div class="row" id="portfolio-wrapper" style="padding:60px">
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10200" style="width:200px;height:290px;"target="_blank">
             <img src="{{ url_for('static', filename='movie/10200.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>1위</h4>
                <span>터미네이터 2:오리지널</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=24452" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/24452.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>2위</h4>
                <span>매트릭스</span>
              </div>
            </a>
          </div>
          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10002" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10002.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>3위</h4>
                <span>빽 투 더 퓨쳐</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10038" style="width:200px;height:290px;" target="_blank">
              <img src="{{ url_for('static', filename='movie/10038.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>4위</h4>
                <span>에이리언 2</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31268" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31268.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>5위</h4>
                <span>에이 아이</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=28788" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/28788.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>6위</h4>
                <span>바이센테니얼 맨</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=13500" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/13500.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>7위</h4>
                <span>쥬라기 공원</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10217" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10217.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>8위</h4>
                <span>로보캅</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10028" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10028.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>9위</h4>
                <span>터미네이터</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-1" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=19074" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/19074.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>10위</h4>
                <span>가타카</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31788" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31788.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>11위</h4>
                <span>마이너리티 리포트</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10003" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10003.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>12위</h4>
                <span>빽 투 더 퓨쳐 2</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=18610" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/18610.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>13위</h4>
                <span>콘택트</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10018" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10018.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>14위</h4>
                <span>이티</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=11002" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/11002.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>15위</h4>
                <span>혹성탈출</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10004" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10004.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>16위</h4>
                <span>빽 투 더 퓨쳐 3</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=45290" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/45290.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>17위</h4>
                <span>인터스텔라</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=30301" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/30301.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>18위</h4>
                <span>스타워즈 에피소드 3 - 시스의 복수</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10006" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10006.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>19위</h4>
                <span>스타워즈 에피소드 5 - 제국의 역습</span>
              </div>
            </a>
          </div>

          <div class="col-xs-8 col-lg-2.9 portfolio-item filter-2" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=62266" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/62266.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>20위</h4>
                <span>아바타</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=76347" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/76347.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>21위</h4>
                <span>엑스맨: 퍼스트 클래스</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=19147" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/19147.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>22위</h4>
                <span>아마겟돈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=33755" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/33755.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>23위</h4>
                <span>케이 팩스</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10005" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10005.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>24위</h4>
                <span>스타워즈 에피소드 4 - 새로운 희망</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=18682" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/18682.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>25위</h4>
                <span>스타쉽 트루퍼스</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10007" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10007.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>26위</h4>
                <span>스타워즈 에피소드 6 - 제다이의 귀환</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=64129" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/64129.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>27위</h4>
                <span>디스트릭트 9</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=44885" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/44885.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>28위</h4>
                <span>아이언맨</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=99714" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/99714.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>29위</h4>
                <span>엑스맨: 데이즈 오브 퓨처 패스트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-3" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=70254" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/70254.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>30위</h4>
                <span>아이언맨 3</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10800" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10800.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>31위</h4>
                <span>토탈 리콜</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=36344" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/36344.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>32위</h4>
                <span>지구를 지켜라!</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=61521" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/61521.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>33위</h4>
                <span>트랜스포머</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=17758" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/17758.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>34위</h4>
                <span>12 몽키즈</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=31464" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/31464.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>35위</h4>
                <span>매트릭스 2 - 리로디드</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39879" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/39879.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>36위</h4>
                <span>아일랜드</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=38420" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/38420.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>37위</h4>
                <span>아이, 로봇</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=10962" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/10962.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>38위</h4>
                 <span>블레이드 러너</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=19063" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/19063.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>39위</h4>
                <span>딥 임팩트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-4" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=23917" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/23917.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>40위</h4>
                <span>공각기동대</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=39804" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/39804.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>41위</h4>
                <span>13 구역</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=62789" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/62789.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>42위</h4>
                <span>스타 트렉: 더 비기닝</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=18153" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/18153.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>43위</h4>
                <span>맨 인 블랙</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=34514" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/34514.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>44위</h4>
                <span>레지던트 이블</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=12954" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/12954.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>45위</h4>
                <span>매트릭스 3 - 레볼루션</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=53902" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/53902.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>46위</h4>
                <span>더 문</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=19529" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/19529.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>47위</h4>
                <span>다크 시티</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=167605" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/167605.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>48위</h4>
                <span>터미네이터: 다크 페이트</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=47370" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/47370.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>49위</h4>
                <span>그래비티</span>
              </div>
            </a>
          </div>

           <div class="col-xs-8 col-lg-2.9 portfolio-item filter-5" style="width:200px;height:290px;">
            <a href="https://movie.naver.com/movie/bi/mi/basic.nhn?code=63113" style="width:200px;height:290px;"target="_blank">
              <img src="{{ url_for('static', filename='movie/63113.jpg')}}" alt="" >
              <div class="details" style="background-color:black" style="width:200px">
                <h4>50위</h4>
                <span>칠드런 오브 맨</span>
              </div>
            </a>
          </div>


        </div>

      </div>
    </section><!-- #portfolio -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

 <!-- JavaScript Libraries -->
  <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/jquery/jquery-migrate.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/easing/easing.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/wow/wow.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/hoverIntent.js')}}"></script>
  <script src="{{ url_for('static', filename='lib/superfish/superfish.min.js')}}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{{ url_for('static', filename='contactform/contactform.js')}}"></script>

  <!-- Template Main Javascript File -->
  <script src="{{ url_for('static', filename='js/main.js')}}"></script>
</body>
</html>